body {
    font-family: Arial;
    margin: 0;
}

.header {
    font-size: 30px;
}

.header h1 {
    margin-top: 10px;
    position: relative;
    top: 18px;
    left: 10px;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    padding-right: 10px;
    padding-left: 10px;
}
  