{% extends "layout.html" %}

{% block body %}
    <h1>ToDo List:</h1>
    <a href="/task-entry">Add a new task</a>
    <form action="/" method="post">
        <table>
            {% for task in todo_list %}
                <tr>
                    <td>{{ task['description'] }}</td>
                    <td><input type="checkbox" name="task_item" value={{ task['id'] }}></td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Delete Tasks">
    </form>
    </ul>
{% endblock %}
