<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>ToDo!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/task-style.css') }}">
    </head>
    <body>
        <div class="header">
            <img src="{{ url_for('static', filename='img/task-logo.png') }}" alt="logo">
            <h1>Too Doo!</h1>
        </div>
        <!-- Jinja templating code that we can redefine for other pages -->
        {% block body %}{% endblock %}
    </body>
</html>
